@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("./assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

/* Custom font weight classes */
.font-kumbh-light {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
}

.font-kumbh-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.font-kumbh-medium {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
}

.font-kumbh-semibold {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
}

.font-kumbh-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.font-kumbh-extrabold {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 800;
}

.font-kumbh-black {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 900;
}
